build/
*.so
*.c
!c_relay_helper.c
*.o
__pycache__/
*.pyc
bench.log
bench_connect.log
*.pem
*.pid
tmp/
*.egg-info/
bench
bench_*.log
bench_connect_*.log
tmp/bench_matrix_*.out
splice_helper.c
splice_helper.so
